@page "/OnlyColSpans"

<h3>Only Col Spans</h3>

<h4>How it should look:</h4>
<table class="native">
	<tr>
		<td colspan="2">*</td>
		<td>*</td>
	</tr>
	<tr>
		<td>*</td>
		<td colspan="2">*</td>
	</tr>
	<tr>
		<td>*</td>
		<td>*</td>
		<td>*</td>
	</tr>
	<tr>
		<td colspan="2">*</td>
		<td>*</td>
	</tr>
	<tr>
		<td>*</td>
		<td colspan="2">*</td>
	</tr>
</table>

<h4>RadzenDataGrid with no gaps in data:</h4>
<RadzenDataGridCommon Columns="this.columns" Data="this.rowsNoGaps" />

<h4>RadzenDataGrid with gaps in data:</h4>
<RadzenDataGridCommon Columns="this.columns" Data="this.rowsGaps" />

@code
{
	List<string> columns = new() { "A", "B", "C" };
	List<Row> rowsNoGaps = new()
	{
		new()
		{
			RowNumber = 1,
			Cells = new()
			{
				["A"] = new()
				{
					Value = "*",
					Columns = 2
				},
				["B"] = new()
				{
					Columns = 2,
					Ignore = true
				},
				["C"] = new()
				{
					Value = "*"
				}
			}
		},
		new()
		{
			RowNumber = 2,
			Cells = new()
			{
				["A"] = new()
				{
					Value = "*"
				},
				["B"] = new()
				{
					Value = "*",
					Columns = 2
				},
				["C"] = new()
				{
					Columns = 2,
					Ignore = true
				}
			}
		},
		new()
		{
			RowNumber = 3,
			Cells = new()
			{
				["A"] = new()
				{
					Value = "*"
				},
				["B"] = new()
				{
					Value = "*"
				},
				["C"] = new()
				{
					Value = "*"
				}
			}
		},
		new()
		{
			RowNumber = 4,
			Cells = new()
			{
				["A"] = new()
				{
					Value = "*",
					Columns = 2
				},
				["B"] = new()
				{
					Columns = 2,
					Ignore = true
				},
				["C"] = new()
				{
					Value = "*"
				}
			}
		},
		new()
		{
			RowNumber = 5,
			Cells = new()
			{
				["A"] = new()
				{
					Value = "*"
				},
				["B"] = new()
				{
					Value = "*",
					Columns = 2
				},
				["C"] = new()
				{
					Columns = 2,
					Ignore = true
				}
			}
		}
	};
	List<Row> rowsGaps;

	public OnlyColSpans() => this.rowsGaps = this.rowsNoGaps.Select(r => new Row
	{
		RowNumber = r.RowNumber,
		Cells = r.Cells.Where(kvp => !kvp.Value.Ignore).ToDictionary(kvp => kvp.Key, kvp => kvp.Value)
	}).ToList();
}
